<div class="d-flex flex-column bg-light">
  <div class="d-flex justify-content-between">
    <div>
      <button routerLink="/page-1" class="btn btn-primary mx-2">Page 1</button>
      <button routerLink="/page-2" class="btn btn-primary mx-2">Page 2</button>
    </div>
    <div>
      <button (click)="changeQueryParams(1)" class="btn btn-primary mx-2">
        Previous
      </button>
      <button (click)="changeQueryParams(2)" class="btn btn-primary mx-2">
        Next
      </button>
      <button (click)="submit()" class="btn btn-primary mx-2">Submit</button>
    </div>
  </div>
  <div class="d-flex vh-100">
    <router-outlet></router-outlet>
  </div>
</div>
